.page-top--full{
    background-image: url(/sites/default/files/2021-05/aliado-agro-blur.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 180px 0 0px 0;
    position: relative;
    @media (min-width: $size-tablet2){
        padding: 170px 0 216px;
    }
}