.menu{
    &-title{
        color:$green-primary;
        font-family: $futura-bold;
        text-transform: uppercase;
        margin-bottom: 26px;
        display: block;
    }
    &-list{
        padding: 0;
        list-style:none;
    }
    &-item{
        margin-bottom:2px;
    }
}