.menu--siguenos{
    .menu{
        &-title{
            color: $white-primary;
            font-family: $futura-book;
            text-transform: none;
        }
        &-list{
            display: flex;
            align-items: center;
        }
        &-item{
            text-align: center;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
        }
    }
    .btn{
        &-ico{
            background-repeat: no-repeat;
            background-position: center;
        }
        &-face{
            background-image: url(/sites/default/files/menu_icons/icon-facebook.svg);
        }
        &-in{
            background-image: url(/sites/default/files/menu_icons/icon-instagram.svg);
        }
        &-tw{
            background-image: url(/sites/default/files/menu_icons/icon-twitter.svg);
        }
        &-lin{
            background-image: url(/sites/default/files/menu_icons/icon-linkedin.svg);
        }
        &-yt{
            background-image: url(/sites/default/files/menu_icons/icon-youtube.svg);
        }
    }
}

.header{
    .menu--siguenos{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: $size-tablet2){
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        .menu{
            &-title{
                text-transform: uppercase;
                font-size: 14px;
                font-family: $futura-heavy;
                letter-spacing: 6px;
                margin: 0;
                @media (min-width: $size-tablet2){
                    margin: 0 20px 0 0;
                }
            }
            &-list{
                margin: 0;
            }
        }
    }
}