.sesion{
    @include font-size(12px, 1);
    padding: 6px 16px;
    display: inline-block;
    @media (min-width: $size-tablet2){
        @include font-size(14px, 1);
        padding: 12px 24px;
    }
}