.copy{
    background: $green-third;
    p{
        margin: 0;
        text-align: center;
        color: $white-primary;
        font-family: $futura-light;
        @media (min-width: $size-tablet2){
            text-align: right;
        }
    }
}