#block-datoscontacto{
    height: 100%;
    .content{
        height: 100%;
        div{
            height: 100%;
        }
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        li{
            margin-right: 40px;
            a{
                font-size: 17px;
            }
        }
    }
}