#block-datoscontacto{
    @media (min-width: $size-tablet2){
        height: 100%;
    }
    .content{
        @media (min-width: $size-tablet2){
            height: 100%;
        }
        div{
            @media (min-width: $size-tablet2){
                height: 100%;
            }
        }
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media (min-width: $size-tablet2){
            height: 100%;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        li{
            @media (min-width: $size-tablet2){
                margin-right: 40px;
            }
            a{
                font-size: 17px;
            }
        }
    }
}