.marca{
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $size-tablet2){
        margin-bottom: 0;
    }
    &-img{
        &--logo{
            width: 70%;
            margin: auto;
        }
    }
}