#block-views-block-pqr-pqr{
    @media (min-width: $size-desktop){
        width: 32%;
    }
}

.page-featured{
    @media (min-width: $size-desktop){
        display: flex;
    }
}

.pqr{
    display: flex;
    align-items: center;
    &-item{
        border-bottom: 1px solid $gray-primary;
    }
    &-title{
        margin: 0;
    }
}