.slide{
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $size-tablet1){
        flex-wrap: nowrap;
    }
    &-item{
        padding: 0 16px;
        @media (min-width: $size-tablet1){
            padding: 0 32px;
        }
        @media (min-width: $size-desktop){
            padding: 0 80px;
        }
        @media (min-width: $size-desktop-lg){
            padding: 0 120px;
        }
    }
    &-content{
        position: relative;
        z-index: 1;
        @media (min-width: $size-tablet1){
            transform: translate(20px, 0px);
            width: 40%;
        }
        @media (min-width: $size-laptop1){
            width: 40%;
        }
        @media (min-width: $size-desktop-lg){
            width: 35%;
        }
    }
    &-container{
        padding: 40px 40px 30px 40px;
        @media (min-width: $size-tablet1){
            border-bottom-left-radius: 84px;
            padding: 70px 40px 70px 40px;
        }
        @media (min-width: $size-desktop){
            padding: 70px 86px 70px 58px;
        }
        @media (min-width: $size-desktop-lg){
            padding: 70px 170px 70px 58px;
        }
        p{
            color: $white-primary;
        }
    }
    &-title{
        font-size: 40px;
        font-family: $futura-heavy;
        letter-spacing: -2px;
        line-height: 1.1;
        @media (min-width: $size-tablet2){
            max-width: 78%;
            font-size: 45px;
        }
        @media (min-width: $size-laptop2){
            max-width: 79%;
            // font-size: 50px;
        }
        @media (min-width: $size-desktop){
            font-size: 55px;
        }
        // @media (min-width: $size-desktop-lg){
        // }
    }
    &-img {
        position: relative;
        z-index: 2;
        @media (min-width: $size-tablet1){
            margin-top: 70px;
            transform: translate(-20px, 0px);
            width: 70%;
        }
        @media (min-width: $size-desktop){
            width: 70%;
        }
        @media (min-width: $size-desktop-lg){
            width: 75%;
        }
        img{
            width:100%;
            height: auto;
        }
    }
    &-btn{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translate(0px,22px);
        @media (min-width: $size-tablet1){
            top: 50%;
            bottom: unset;
            right: unset;
            transform: translate(-160px, 142px);
        }
        @media (min-width: $size-desktop){
            transform: translate(-200px, 104px);
        }
        @media (min-width: $size-desktop-lg){
            transform: translate(-200px, 60px);
        }
    }
}