body {
    font-size: 14px;
	color: $black-primary;
    font-family: $futura-book;
    background: $white-primary;
    @media (min-width: $size-tablet2){
        font-size: 16px;
    }
}

body a{
    transition: all 0.5s;
    text-decoration:none;
    @include on-event{
        text-decoration:none;
    }
}

body h1,
body h1 a,
body h2,
body h2 a,
body h3,
body h3 a,
body h4,
body h4 a,
body h5,
body h5 a,
body h6,
body h6 a{
    font-weight: 400;

}

body h2,
body h2 a{
    font-size: 22px;
    @media (min-width: $size-tablet2){
        font-size: 28px;
    }
    @media (min-width: $size-desktop){
        font-size: 38px;
    }
}

body h3,
body h3 a{
    letter-spacing: 0;
    font-size: 20px;
    @media (min-width: $size-tablet2){
        font-size: 22px;
    }
    @media (min-width: $size-desktop){
        font-size: 28px;
    }
}

body h4,
body h4 a{
    font-size: 18px;
    font-weight: 700;
    @media (min-width: $size-tablet2){
        font-size: 22px;
    }
    @media (min-width: $size-desktop){
        font-size: 26px;
    }
}

body h5,
body h5 a{
    font-size: 16px;
    font-weight: 700;
    @media (min-width: $size-tablet2){
        font-size: 18px;
    }
    @media (min-width: $size-desktop){
        font-size: 20px;
    }
}

body figure{
    margin-bottom: 0;
}

ul{
    list-style: none;
}

/* Override bootstrap */

// .btn {
// 	font-size: 12px;
//     padding: 9px 36px 9px;
//     font-weight: 700;
//     position: relative;
//     outline: unset;
//     @include on-event{
//         text-decoration: none;
//         box-shadow: none;
//     }
//     @media (min-width: $size-tablet2){
//         font-size: 14px;
//     }
//     @media (min-width: $size-desktop){
//         font-size: 18px;
//     }
// }

// .btn-primary {
//     min-height: 41px;
//     color: $color-white;
//     @include on-event {
//         color: $color-white;
//         border-color: $color-primary;
//     }           
// }

// .btn-secondary {
//     color: $color-white;
//     @include on-event {
//         color: $color-white;
//         background-color: $color-primary;
//     }
// }



.btn-radius {
    border-radius: 20px;
}

// Container custom
.container-custom{
    max-width: 1464px;
}