body {
    font-size: 16px;
	color: $black-primary;
    font-family: $futura-book;
    background: $white-primary;
    @media (min-width: $size-tablet2){
        font-size: 16px;
    }
}

body a{
    transition: all 0.5s;
    text-decoration:none;
    @include on-event{
        text-decoration:none;
    }
}

body h1,
body h1 a,
body h2,
body h2 a,
body h3,
body h3 a,
body h4,
body h4 a,
body h5,
body h5 a,
body h6,
body h6 a{
    font-weight: 400;
}

body h2,
body h2 a{
    font-size: 30px;
    font-family: $futura-heavy;
    color: $green-secondary;
    text-transform: uppercase;
    margin-bottom: 0;
    @media (min-width: $size-tablet2){
        font-size: 50px;
    }
    span{
        color: $green-primary;
    }
}

body h3,
body h3 a{
    color: $white-primary;
    font-family: $futura-heavy;
    @include font-size(25px, 26px);
    @media (min-width: $size-tablet2){
        @include font-size(35px, 36px);
    }
}

body h4,
body h4 a{
    font-size: 18px;
    font-weight: 700;
    @media (min-width: $size-tablet2){
        font-size: 20px;
    }
}

body h5,
body h5 a{
    font-size: 16px;
    font-weight: 700;
    @media (min-width: $size-tablet2){
        font-size: 18px;
    }
    @media (min-width: $size-desktop){
        font-size: 20px;
    }
}

body figure{
    margin-bottom: 0;
}

ul{
    list-style: none;
}