body {
    font-size: 14px;
	color: $color-txt;
    font-family: $roboto;
    background: $color-primary;
    @media (min-width: $size-tablet2){
        font-size: 16px;
    }
}

body a{
    font-family: $roboto;
    transition: all 0.5s;
    text-decoration:none;
    @include on-event{
        text-decoration:none;
    }
}

body h1,
body h1 a,
body h2,
body h2 a,
body h3,
body h3 a,
body h4,
body h4 a,
body h5,
body h5 a,
body h6,
body h6 a{
    font-family: $roboto;
    font-weight: 400;
    color: $color-black;
}

body h2,
body h2 a{
    font-size: 22px;
    @media (min-width: $size-tablet2){
        font-size: 28px;
    }
    @media (min-width: $size-desktop){
        font-size: 38px;
    }
}

body h3,
body h3 a{
    letter-spacing: 0;
    font-size: 20px;
    @media (min-width: $size-tablet2){
        font-size: 22px;
    }
    @media (min-width: $size-desktop){
        font-size: 28px;
    }
}

body h4,
body h4 a{
    font-size: 18px;
    font-weight: 700;
    @media (min-width: $size-tablet2){
        font-size: 22px;
    }
    @media (min-width: $size-desktop){
        font-size: 26px;
    }
}

body h5,
body h5 a{
    font-size: 16px;
    font-weight: 700;
    @media (min-width: $size-tablet2){
        font-size: 18px;
    }
    @media (min-width: $size-desktop){
        font-size: 20px;
    }
}

// body h1,
// body h1 a,
// body h2,
// body h2 a,
// body h6,
// body h6 a{
// }

// body h4{
//     font-weight: 700;
//     color: $color-black;
// }

body figure{
    margin-bottom: 0;
}

/* Override bootstrap */

.navbar-brand {
    padding-right: 0;
    padding-left: 0;
    height: auto;
}

.btn {
	font-size: 12px;
    padding: 9px 36px 9px;
    font-weight: 700;
    position: relative;
    outline: unset;
    @include on-event{
        text-decoration: none;
        box-shadow: none;
    }
    @media (min-width: $size-tablet2){
        font-size: 14px;
    }
    @media (min-width: $size-desktop){
        font-size: 18px;
    }
    // arrow
    &-arrow{
        &:after{
            content: "";
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            right: 16px;
        }
        &-large{
            padding: 8px 40px 6px 12px;
            min-width: 154px;
            @media (min-width: $size-tablet1){
                min-width: 172px;
            }
            @media (min-width: $size-desktop){
                min-width: 200px;
            }
            &:after{
                background-image: url(../img/icons/ico-arrow-large.svg);
            }

        }
    }

	&_arrow{
		display: inline-block;
        vertical-align: middle;
		width: 10px;
		margin-left: 16px;
		line-height: 1;
	}
}

.btn-primary {
    min-height: 41px;
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
    @include on-event {
        color: $color-white;
        border-color: $color-primary;
    }
    @media (max-width: 567px) {
        min-height: auto;
    }            
}

.btn-secondary {
    color: $color-white;
    @include on-event {
        color: $color-white;
        background-color: $color-primary;
    }
}

.btn-white {
    background-color: $color-white;
    border-color: $color-white;
    @include on-event {
        color: $color-white;
        background-color: $color-primary;
        border-color: $color-primary;
    }
}

.btn-radius {
    border-radius: 20px;
}

.btn-icon-right {
	img {
		position: relative;
		top: -2px;
		margin-left: 4px;
		max-width: 7px;
		width: 100%;		
		filter: invert(1);
	}
}

.btn-group-sm>.btn, 
.btn-sm {
    padding: 4px 10px;
	@include font-size(11px, 13px);
    @media(min-width: 400px) {
        @include font-size(12px, 14px);        
        padding: 6px 20px;
    }
}   

.btn-group-md>.btn, 
.btn-md {
    font-weight: 400;    
    min-height: 32px;    
    padding: 8px 14px 6px;
    @include font-size(14px, 16px);    
    @media(min-width: $size-desktop) {
        min-height: 37px;        
        @include font-size(16px, 18px);        
        padding: 9px 14px 8px;
    }
}

.btn.btn-icon-left {
    position: relative;
    padding-left: 38px;
    padding-right: 18px;
    img {
        max-width: 24px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
}

@media (min-width: 1320px) {
    .container {
        // max-width: 1310px;
        max-width: 1260px;
	}
}

@media (min-width: 1442px) {
    .container {
        max-width: 1310px;
        max-width: 1364px;
	}
}

// Container custom
.container-custom{
    max-width: 1464px;
}

.form-group {
	margin-bottom: 10px;
}

.form-control {
    border-radius: 0;	
	min-height: 41px;
    border: 1px solid #D8D8D8;	
}

/* Override slick js */
.r-content .slick-prev{
    left: 0;
}

.r-content .slick-next{
    right: 2px;
}

.r-content .slick-prev,
.r-content .slick-next{
    width: 32px;
    height: 32px;
    top: 30%;
    z-index: 10;
    &::before{
        content:"";
        background: $color-primary url(../img/icons/ico-arrow-small.svg) no-repeat;
        opacity: 1;
        height: 32px;
        width: 32px;
        display: block;
        border-radius: 50%;
        background-size: 9px;
        background-position: center;
    }
}

.r-content .slick-prev{
    &::before{
        transform: rotate(180deg);
    }
}

/* Override Breadcrumb */
.breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    &-item{
        font-size: 14px;
        font-weight: 700;
        &.active{
            color:$color-txt;
            font-weight: 400;
        }
    }
}

// breadcrumb
.r-page-breadcrumb{
    background: $color-gray;
}

/*  */

.node--type-page{
    .node__content{
        margin-bottom: 50px;
    }
}

// Region top elements - header 
@media (min-width: $size-tablet2){
    .r-top-elements{
        margin-bottom: 18px;
    }
}