@font-face {
	font-family: 'Conv_Futura Std Book';
	src: url('libraries/fonts/Futura Std Book.eot');
	src: local('☺'), url('libraries/fonts/Futura Std Book.woff') format('woff'), url('libraries/fonts/Futura Std Book.ttf') format('truetype'), url('libraries/fonts/Futura Std Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaStdLight';
	src: url('libraries/fonts/FuturaStdLight.eot');
	src: local('☺'), url('libraries/fonts/FuturaStdLight.woff') format('woff'), url('libraries/fonts/FuturaStdLight.ttf') format('truetype'), url('libraries/fonts/FuturaStdLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaStdBold';
	src: url('libraries/fonts/FuturaStdBold.eot');
	src: local('☺'), url('libraries/fonts/FuturaStdBold.woff') format('woff'), url('libraries/fonts/FuturaStdBold.ttf') format('truetype'), url('libraries/fonts/FuturaStdBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaStdHeavy';
	src: url('libraries/fonts/FuturaStdHeavy.eot');
	src: local('☺'), url('libraries/fonts/FuturaStdHeavy.woff') format('woff'), url('libraries/fonts/FuturaStdHeavy.ttf') format('truetype'), url('libraries/fonts/FuturaStdHeavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BebasNeue-Regular';
	src: url('libraries/fonts/BebasNeue-Regular.eot');
	src: local('☺'), url('libraries/fonts/BebasNeue-Regular.woff') format('woff'), url('libraries/fonts/BebasNeue-Regular.ttf') format('truetype'), url('libraries/fonts/BebasNeue-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}