// Font weight

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-regular{
  font-weight: 400;
}

// Font colors

.color-primary {
  color: $color-primary;
}
.color-yellow{
  color: $color-yellow;
}
.color-black{
  color: $color-black;
}
.color-white {
  color: $color-white;
}
.color-darkgray{
  color: $color-darkgray;
}

// Bg colors

.bg-color-primary {
  background-color: $color-primary;
}
.bg-color-yellow {
  background-color: $color-yellow;
}

// Fonts

.font-12 {
  @include font-size(12px, 14px);
}
// Utils

.hide-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.show-mobile {
  @media (min-width: $size-tablet2) {
    display: none !important;
  }
}

.mt-30 {
  margin-top: 20px;
}
.mb-35,
.mb-45 {
  margin-bottom: 20px;
}

@media (min-width: $size-tablet2) {
  .mt-30 {
    margin-top: 30px;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .mb-45 {
    margin-bottom: 45px;
  }
}

.node__content {
  margin-top: 0;
}

// Elements

// -- Btn ico -- //

.title {
  position:relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 22px;
  @media (min-width: $size-tablet2){
    font-size:28px;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  @media (min-width: $size-desktop){
    padding-bottom: 40px;
    font-size:38px;
  }
  &::before{
    content:"";
    background: rgb(26,24,24);
    background: linear-gradient(90deg, rgba(26,24,24,1) 0%, rgba(26,24,24,1) 33%, rgba(146,14,20,1) 33%, rgba(214,8,18,1) 67%, rgba(236,108,15,1) 67%, rgba(247,160,14,1) 100%);
    position:absolute;
    height:5px;
    width:122px;
    bottom: 0;
  }
  &--borderBlack{
    &::before{
      background: $color-black;
      height: 3px;
    }
  }
}

// Propuesta educativa
.propEducativa{
  .title{
    &::before{
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.title-section {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  @include font-size(20px, 22px);
  @media (min-width: $size-tablet2) {
    min-height: 50px;
    border-left: solid 1px #7fb39f;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 20px;
  }
  @media (min-width: $size-desktop) {
    min-height: 65px;
    @include font-size(24px, 26px);
  }
}

/* -- Sidebar -- */

.site-sidebar {
  .block {
    margin-bottom: 30px;
  }
}

.border{
  border: 1px solid;
  &-r{
    border-radius: 25px;
  }
}
