// Font colors
.color-green-primary {
    color: $green-primary;
}

.color-white-primary {
    color: $white-primary;
}

// Bg colors
.bg-green-primary {
    background-color: $green-primary;
}

.bg-green-secondary {
    background-color: $green-secondary;
}

// Elements
.btn-ico{
    display: flex;
    flex-wrap: wrap;
    width: 38px;
    height: 38px;
    margin-left: 1px;
    margin-right: 1px;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-size: 0;
}

// Btns
.btn{
    border-radius: 50px;
    &:focus{
        border-color:unset;
        box-shadow: none;
    }
    &-primary{
        background-image: url(../img/icons/icon-arrow-circle-right-green-secondary.svg);
        background-repeat: no-repeat;
        background-position: center right;
        padding: 10px 60px 10px 16px;
        font-family: $futura-heavy;
        border: 1px solid $green-secondary;
        @include font-size(21px, 22px);
        &:hover,
        &:focus{
            border:1px solid $green-secondary;
        }
        &:not(:disabled):not(.disable):active{
            background-color: $green-primary;
            border-color:$green-primary;
            &:focus{
                box-shadow: none;
            }
        }
    }
    &-secondary{
        background-image: url(../img/icons/icon-arrow-circle-right-green-primary.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-color:$green-secondary;
        padding: 10px 60px 10px 16px;
        font-family: $futura-heavy;
        border: 1px solid $green-secondary;
        letter-spacing: 1px;
        @include font-size(21px, 22px);
        &:hover,
        &:focus{
            border:1px solid $green-primary;
            background-color:$green-primary;
        }
        &:not(:disabled):not(.disable):active{
            background-color: $green-secondary;
            border-color:$green-secondary;
            &:focus{
                box-shadow: none;
            }
        }
        &--square{
            background-image: none;
            background-repeat: no-repeat;
            background-position: center right;
            border-radius: 0;
            border: 1px solid $white-primary;
            display: block;
            text-transform: uppercase;
            font-family: $futura-book;
            position: relative;
            @include font-size(16px, 18px);
            @media (min-width: $size-tablet2){
                @include font-size(25px, 26px);
            }
            &::before{
                content:"";
                width: 40px;
                height: 38px;
                background-image: url(../img/icons/icon-chevron-right.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 12px;
                position: absolute;
                right: 0;
                top: 0;
                border-left: 1px solid $white-primary;
                bottom: 0;
                @media (min-width: $size-tablet2){
                    width: 46px;
                    height: 46px;
                }
            }
            &:hover,
            &:focus{
                border:1px solid $white-primary;
                background-color:$green-secondary;
            }
        }
    }
    &-third{
        color: $white-primary;
        font-family: $futura-heavy;
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 0;
        border: 0;
        border-top: 1px solid $white-primary;
        border-radius: 0;
        &:hover,
        &:focus{
            border: 0;
            border-top:1px solid $white-primary;
            color:$white-primary
        }
        &--square{
            border: 1px solid $white-primary;
            display: inline;
            width: unset;
            padding: 6px 6px;
            font-size: 16px;
            line-height: 1;
            font-family: $futura-book;
            &:hover,
            &:focus{
                border:1px solid $white-primary;
            }
        }
    }
}
