//Colors
$green-primary:#80BC00;
$green-primary-hover:#19341A;
$green-secondary:#19341A;
$green-third:#0D1A0D;
$white-primary:#ffffff;
$black-primary:#3F3E3E;
$gray-primary:#727176;

//Fonts
$roboto: 'Roboto', sans-serif;
$futura-book: 'Conv_Futura Std Book';
$futura-light: 'Conv_FuturaStdLight';
$futura-bold: 'Conv_FuturaStdBold';
$futura-heavy: 'Conv_FuturaStdHeavy';
$bebas: 'Conv_BebasNeue-Regular';

//Media queries
$size-desktop-lg: 1600px;
$size-desktop: 1442px;
$size-laptop1: 1200px;
$size-laptop2: 1024px;
$size-tablet1: 992px;
$size-tablet2: 768px;
$size-mobile1: 568px;
$size-mobile2: 320px;