
//Colors
$color-primary: #D60812;
$color-primary-hover:#992222;
// $color-secondary: #006941;
$color-black: #1A1818;
$color-black-hover: #3f3c38;
$color-yellow: #F7A00E;
$color-yellow-hover:#ba8b2f;
$color-txt: #535353;
$color-gray: #F8F8F8;
$color-darkgray: #7C7C7C;
$color-darkgrayTwo: #f5f5f5;
$color-lightgray: #FAFAFA;
$color-white: #ffffff;
$color-purple: #714A98;
$color-blue: #30A4ED;
$color-green: #5CB03C;
//Fonts
$roboto: 'Roboto', sans-serif;

//Media queries
$size-desktop: 1442px;
$size-laptop1: 1200px;
$size-laptop2: 1024px;
$size-tablet1: 992px;
$size-tablet2: 768px;
$size-mobile1: 568px;
$size-mobile2: 320px;