{# header #}
<header class="header">
    <div class="header-top py-2">
        <div class="container">
            <div class="row">
                {% if page.top_header %}
                    <div class="col-md-12 d-md-flex justify-content-between">
                        {{ page.top_header }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header-bottom container">
        <div class="row">
            {% if page.primary_menu or page.header_form %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form float-right">
                    {{ page.header_form }}
                  </div>
                {% endif %}
	          </div>
            {% endif %}
        </div>
    </div>
</header>
{# end - header #}